body{
  background-image:url("https://www.xtrafondos.com/wallpapers/paisaje-digital-en-atardecer-5846.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-color: rgb(20, 18, 34);
}

.App {
  text-align: center;

}


