.Con{
  background-color: transparent;
  margin: 20px;
  border:1px dotted rgba(184, 6, 145, 0.801);

}

.NavCon{
  display: flex;
  margin: 10px 80px 10px 10px;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}




